* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 62.5%;
    color: #272727;
}

body {
    background-color: #d3d3d3;
}

header {
    background-color: #6d6de7;
    padding: 1.5rem;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-size: 3.5rem;
    text-align: center;
}

/* Utilities */

.container {
    display: flex;
    border: solid;
    border-style: double;
    margin: 2rem;
    padding: 2rem;
    width: 25%;
    font-size: 4rem;
    background-color: #a1a1e0;
}

.container #city {
    font-size: 4rem;
    padding: .5rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

/* Classes */

.small-container {
    border-style: double;
    font-size: 3.25rem;
    width: 20%;
    margin: 1.5rem;
    padding: 1.5rem;
}

.small-container img {
    max-width: 30rem;
}

/* ID's */

#form-city {
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-right: .5rem;
}

#city-input {
    font-size: 1.75rem;
    width: 70rem;
    padding: .5rem;
    margin-top: .25rem;
    border-color: #272727;
    background-color: white;
}

#searchBtn {
    background-color: gray;
    font-size: 2rem;
    width: 20rem;
    padding: .5rem;
    margin: .5rem;
    transition: box-shadow .5s;
}

#searchBtn:hover {
    cursor: pointer;
    box-shadow: 0 0 11px rgba(66, 66, 66, 0.2);
    transform: translateY(-.1rem);
    transition: transform 150ms;
}

#searchBtn:active {
    transform: translateY(.1rem);
    transition: transform 150ms;
}
